img {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

body {
    
    background-color: #2c1a2e;
    background-image: url('data/fondo.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'EB Garamond', serif;
}

#mainCarousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #59235f00;
    display: block;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1a011d;
    margin-top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #ffffff;
}

.navbar {
    background-color: #1a011d !important;
}

a {
    color: #ffffff;
}

.navbar-brand img,
.navbar-brand span,
.navbar-nav .nav-link img {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}


.navbar-brand:hover img,
.navbar-brand:hover span {
    opacity: 1.0;
}


.navbar-nav .nav-link:hover img {
    opacity: 1.0;
}